body{
  min-width: 900px;
  font-size: 16px;  
  line-height: 22px;
  color: #000000;
  font-weight: normal;
  font-family: "Roboto", "Arial", "sans-serif";  
}
h1{
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}
h2{
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.container{
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;  
}

/********** Кнопки **********/
.btn{
  display: inline-block;
  padding: 10px 70px;
  border: none;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}
.btn-red{
  background-color: #fb565a;
}
.btn-green{
  background-color: #00ca74;
}
.btn-yellow{
  background-color: #efc84a;
}

/********** Модальное окно "Напишите нам" **********/
.modal-write-us{
  display: none;
}

/********** Хедер **********/
.main-header{
  padding-top: 27px;
  font-size: 0;
  background-color: #eeeeee;
}
.logo{
  display: inline-block;
  margin-right: 181px;  
  vertical-align: baseline;
}
.main-navigation{
  display: inline-block;
  width: 560px;
  vertical-align: baseline;
}
.navigation-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation-item{
  float: left;
  margin-right: 46px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;  
}
.navigation-item-cart{
  float: right;
  margin-right: 0;
}
.navigation-link{
  text-decoration: none;
}

/********** Слайдер **********/
.slider{
  font-size: 16px;
  line-height: 22px;
}
.slider input{
  display: none; /* после стилизации удалить */
}
.slide{
  min-height: 342px;
}
.slide-text{
  width: 470px;
}
.slide-title{
  display: block;
  margin-bottom: 17px;
  padding-top: 63px;
  font-size: 36px;
  line-height: 36px;
}
.slide-descr{
  margin-bottom: 28px;
}
.slide-bg-monitors{
  display: block;
  background: url("../img/slider-monitors.png") no-repeat 542px 42px;
}
.slide-bg-calc{
  display: none;
  background: url("../img/slider-calc.png") no-repeat 639px 46px;
}
.slide-bg-rainbow{
  display: none;
  background: url("../img/slider-rainbow.png") no-repeat 541px 23px;
}

/********** Секция особенностей **********/
.features{
  margin-bottom: 59px;
  padding: 80px 0;
  border-bottom: 2px solid #eeeeee;
  font-size: 0;
}
.feature-item{
  display: inline-block;
  width: 240px;
  margin-right: 80px;
  padding-top: 124px;
  vertical-align: top;
  font-size: 15px;
  line-height: 22px;
}
.feature-item:nth-child(3n){
  margin-right: 0;
}
.feature-sites{
  background: url("../img/feature-sites.png") no-repeat;
}
.feature-apps{
  background: url("../img/feature-apps.png") no-repeat;
}
.feature-presents{
  background: url("../img/feature-presentations.png") no-repeat;
}
.feature-title{
  margin-top: 23px;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.feature-descr{
  margin: 0;
  margin-bottom: 26px;
}

/********** Секция "О нас" **********/
.about-us{
  margin-bottom: 45px;
  padding-bottom: 70px;
  border-bottom: 2px solid #eeeeee;
  font-size: 0;
}
.about-us-text,
.about-us-logo,
.we-do,
.how-work{
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  vertical-align: top;
}
.about-us-text,
.we-do{
  width: 580px;
  margin-right: 60px;
}
.about-us-logo,
.how-work{
  width: 240px;
}
.about-us-text{
  margin-bottom: 26px;
}
.about-us-title{
  margin: 0;
  margin-bottom: 18px; 
  padding-top: 11px;
}
.about-us-descr{
  margin: 0;
  margin-bottom: 18px; 
}
.about-us-logo img{
  padding-left: 31px;
}
.we-do-title,
.how-work-title{
  margin: 0;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 22px;
}
.about-us-list{
  margin: 0;
  padding-left: 37px;
  list-style: none;
}
.about-us-list li{
  margin-bottom: 22px;
}
.about-us-list li:last-child{
  margin-bottom: 0;
}

/********** Секция "Наши клиенты" **********/
.our-clients{
  margin-bottom: 85px;
  padding-bottom: 35px;
  border-bottom: 2px solid #eeeeee;
  font-size: 0;
}
.client-logo{
  display: inline-block;
  margin-right: 110px;
  padding-left: 10px;
  vertical-align: middle;
}
.client-logo:last-child{
  margin-right: 0;
}

/********** Футер **********/
.footer-map{
  position: relative;
  width: 1199px;
  margin: 0 auto;
}
.nerds-data{
  position: absolute;
  top: 88px;;
  left: 160px;
  padding: 26px 23px;  
  background-color: #ffffff;
}
.nerds-data-title{
  font-size: 16px;
  line-height: 30px;
}
.nerds-data-address{
  width: 204px;
  font-size: 16px;
  line-height: 20px;
}
.nerds-data .btn{
  font-size: 12px;
  line-height: 18px;
}
.footer-social{
  padding-top: 69px;
  padding-bottom: 79px;
}
.btn-social,
.footer-text-column{
  display: inline-block;
}
.btn-ig{
  margin-right: 85px;
}
.footer-social-title{
  display: block;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
}
.footer-social-text{
  display: block;
  font-size: 16px;
  line-height: 22px;
}